body{
    background-color: #dbd0c5;
}

h1{
    color: #1f1d1b;
    font-family: "Hannari";
}

.cafe{
    color: #1f1d1b;
    font-family: "Hannari";
}

table{
    margin: auto;
}

.insert_button{
    margin: center;
}